body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.cow_image {
    max-width: 100%;
}


.col-md-4 {
    text-align: center;
}


.jumbotron {
    background-image: url("http://i.dailymail.co.uk/i/pix/2014/04/09/article-0-1A2A745500000578-960_634x420.jpg");
    background-size: cover;
    height: 700px;
}

.navbar {
    background-color: #D46102;
}


body {
    background-color: #FFA153;
}

.wrapper {
    background-color: white;
    width: 85%;
    margin: auto;
    border: 10px solid #D46102;
    border-top: none;
}