@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ReciPeer</h1>
    <p class="lead">Stir The Pot...</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 id="welcome">Cuba the Cow Chef Welcomes You</h2>
        <img class="cow_image" src="/img/circle_cow.png" />
    </div>
    <div class="col-md-4">
        <h2>Categories</h2>
        <div id="categoryList"></div>
        <p><a class="btn btn-default" href="">Placeholder</a></p>
    </div>
    <div class="col-md-4">
        <h2>Top Rated Recipes</h2>
        <p>foo</p>
        <p><a class="btn btn-default" href="">Placeholder</a></p>
    </div>
</div>